@import "tailwindcss";
@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

html,
body,
#root {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.app-container {
  background-size: cover;
}
